<article class="result">
    {{#each docs}}
        <header>
            <h3><a href="{{url}}">{{title}}</a></h3>
            <span class="ref">{{url}}</span>
        </header>
        <p class="body">{{summary}}</p>
        <footer>
            <a href="#">JavaScript Introduction</a> -
            <a href="#">‎JavaScript Examples</a> -
            <a href="#">‎Functions</a> -
            <a href="#">JS How To</a>
        </footer>
    {{/each}}
</article>
